<html ng-app="myApp">

    <head>
       
        <!-- jquery-->
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        
        <!-- twitter boot strap -->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        
        
        <!-- angular JS -->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
        
        <!-- javascript files-->
        <script type="text/javascript" src= "static/app.js"></script>
        <script type="text/javascript" src= "static/services.js"></script>
        <script type="text/javascript" src= "static/controllers.js"></script>

    </head>


    <div ng-controller= "Main">
        <body>
            
        </body>
    </div>
</html>
