<html ng-app="myApp">

    <head>
       
        <!-- jquery-->
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        
        <!-- twitter boot strap -->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        
        
        <!-- angular JS -->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
        
        <!-- javascript files-->
        <script type="text/javascript" src= "static/controllers.js"></script>

    </head>



    

    <div ng-controller= "Main">
        <body>
            
            <div ng-controller= "SchedulerCtrl">
            
            
            <div class="navbar navbar-default navbar-fixed-top" role="navigation"> 
                <div class="container"> 
                    <div class="navbar-header"> 
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
                            <span class="sr-only">Toggle navigation</span> 
                            <span class="icon-bar"></span> 
                            <span class="icon-bar"></span> 
                            <span class="icon-bar"></span>
                        </button> 
                        <a class="navbar-brand" href="#" ng-click= "update_schedule()">Voodoo</a>
                    </div> 
                    <div class="navbar-collapse collapse"> 
                        <ul class="nav navbar-nav"> 
                            <li class="active"><a href="#" ng-click= "update_schedule()">Scheduler</a></li>
                            <li class="dropdown"> 
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> DB <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu"> 
                                <li><a href="#" ng-click="display_all_users()" >Users</a></li> 
                                <li><a href="#" ng-click="display_all_tasks()" >Tasks</a></li> 
                                <li><a href="#" ng-click="display_all_wants()">Wants</a></li> 
                                <li><a href="#" ng-click="display_all_breaks()">Breaks</a></li>
                            </ul> 
                            </li> 
                        </ul> 
                        <ul class="nav navbar-nav navbar-right"> 
                            <li><a href="#">About</a></li> 
                            <li class="active"><a href="#">Logout</a></li> 
                        </ul>
                    </div><!--/.nav-collapse --> 
                </div> 
            </div>
          
           
            <!-- come back and actually position -->        
            <div class= "row">
                </br></br></br>
            </div>


            <!-- first row -->
            <div class= "container">

            <div class= "row">   
                <div class= "col-sm-6">
               
                    <h3> {{ "{{header_hour}}" }} hour Schedule </h3>
                    <input type= "text" ng-model="hours"> </input> : hours 
                    <input type= "button" ng-click= "update_schedule()" value= "New Schedule"> </input>
                    </br></br>
                
                    <!-- schedule table--> 
                    <div class= "container">  
                        <table border="1">
                
                            <tr>
                                <td> <b> Item Number </b> </td>
                                <td> <b> Description </b> </td>
                                <td> <b> Minutes </b> </td>
                            </tr>

                            <tr ng-repeat = "slot in schedule">
                                <td>
                                    {{ "{{slot.number}}" }} )
                                </td>
                                <td>
                                    <a href= "#" ng-click= "display_item(slot.item)"</a>
                                        {{ "{{slot.item.description}}" }}
                                    </a> 
                                </td>
                                <td>
                                    {{ "{{ slot.timeslot }}" }}
                                </td>
                                <td>
                                    <input type= "button" value= "completed" ng-click= "finish_item(slot)"> </input>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div> <!-- end of column -->
                <div class= "col-sm-6">
                  
                    <div ng-controller= "InfoCtrl">
                   

                        <!-- refactor this -->
                        <div ng-show= "show_all_users">
                            
                            <h3> All users from db </h3>
                            <div class= "container">
                                 
                                <table border="1">
                                    <tr>
                                        <th> Name </th>
                                        <th> Password </th>
                                    </tr>
                                    <tr ng-repeat = "user in all_users">
                                        <td>{{ "{{user.name}}" }}</td>
                                        <td>{{ "{{user.password}}" }}</td> 
                                    </tr>
                                </table>                                 
                            </div>
                        </div>

                        <!--refactor this-->

                        <div ng-show= "show_all_tasks">
                            
                            <h3> All tasks from db </h3>
                            <!-- all tasks-->
                            <div class= "container">
                                 
                                <table border="1">
                                    <tr>
                                        <th> Name </th>
                                        <th> Due Date </th>
                                        <th> Category </th>
                                    </tr>
                                    <tr ng-repeat = "task in all_tasks">
                                        <td>{{ "{{task.name}}" }}</td>
                                        <td>{{ "{{task.due_date}}" }}</td> 
                                        <td>{{ "{{task.category}}" }}</td>
                                    </tr>
                                </table>                                 
                            </div>
                        </div>
                  
                        <div ng-show= "show_all_wants">
                            
                            <h3> All wants from db </h3>
                            <div class= "container">
                                 
                                <table border="1">
                                    <tr>
                                        <th> Name </th>
                                        <th> Category </th>
                                    </tr>
                                    <tr ng-repeat = "want in all_wants">
                                        <td>{{ "{{want.name}}" }}</td>
                                        <td>{{ "{{want.category}}" }}</td>    
                                    </tr>
                                </table>                                 
                            </div>
                        </div>
                        <div ng-show= "show_all_breaks">
                            
                            <h3> All breaks from db </h3>
                            <div class= "container">
                                 
                                <table border="1">
                                    <tr>
                                        <th> Name </th>
                                        <th> Url </th>
                                    </tr>
                                    <tr ng-repeat = "break in all_breaks">
                                        <td>{{ "{{break.name}}" }}</td>
                                        <td>{{ "{{break.url}}" }}</td>
                                    </tr>
                                </table>                                 
                            </div>
                        </div>
                        <div ng-show= "show_item"> 
                            <h3> {{ "{{selected_item.description}}" }} </h3>
                    
                            <!-- the item info-->
                            <div class= "container">
                                
                                <table border="1">
                                    <tr>
                                        <td ng-repeat = "field in item_display"> 
                                            <b> {{ "{{field.field_name}}" }} </b>
                                        </td>
                                    </tr>
                                    <tr> 
                                        <td ng-repeat = "field in item_display">
                                            {{ "{{field.field_value}}" }}
                                        </td>
                                    </tr>
                                </table>                                 
                            </div>
                        </div> <!-- end of ngshow-->

                    </div> <!-- end of info ctrl -->
                
                </div> <!-- end of column -->


            </div> <!-- end of row -->

            </div> <!-- end of container -->

        </div> <!-- end of scheduler controller -->
        </body>
    </div>
</html>
