

<h3> My Classes </h3>
<table border= "1">
    <tr>
        <th> Class Name </th>
        <th> Homework Freq </th>
    </tr>
    <tr ng-repeat= "class in my_classes">
        <td> {{class.class_name}} </td>
        <td> {{class.homework_freq}} </td>
    </tr>
</table>



<h3> My Tasks </h3>
<table border= "1">
    <tr>
        <th> Task Description </th>
        <th> Task Due Date </th>
        <th> Task Type </th>
        <th> Total Minutes </th>
        <th> Score </th>
    </tr>
    <tr ng-repeat= "task in my_tasks">
        <td> {{task.description}} </td>
        <td> {{task.due_date}} </td>
        <td> {{task.type}} </td>
        <td> {{task.total_minutes}} </td>
        <td> {{task.score}} </td>
    </tr>
</table>

<h3> My Wants </h3>
<table border= "1">
    <tr>
        <th> Want Name </th>
        <th> Category type </th>
    </tr>
    <tr ng-repeat= "want in my_wants">
        <td> {{want.description}} </td>
        <td> {{want.category}} </td>
    </tr>
</table>



<h3> My Breaks </h3>
<table border= "1">
    <tr>
        <th> Break Name</th>
        <th> Url </th>
        <th> id </th>
        <th> Delete </th>
    <tr>
    <tr ng-repeat= "break in my_breaks">
        <td> {{break.description}} </td>
        <td> {{break.url}} </td>
        <td> {{break.id}} </td>
        <td> <input type= "button" value="Delete" ng-click="delete_break(break.id)">  </td>
    </tr>
</table>


